<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhatsApp Mesajları</title>
    <script>
      async function fetchMessages() {
        const response = await fetch('http://127.0.0.1:5000/get_messages')
        const data = await response.json()
        const messageList = document.getElementById('messages')

        messageList.innerHTML = ''
        data.forEach(msg => {
          const listItem = document.createElement('li')
          listItem.textContent = msg
          messageList.appendChild(listItem)
        })
      }

      setInterval(fetchMessages, 5000)
    </script>
  </head>
  <body>
    <h1>WhatsApp Sohbetleri</h1>
    <ul id="messages"></ul>
  </body>
</html>
